.App {
  text-align: center;
}
.App ul li{
  text-decoration: none;
  list-style-type: none;
}

.h1 {
 color: #fff;
}

.registry form{
  margin-top: 30px;
  margin-bottom: 30px;
}

.registry input[type="submit"] {
  color: #fff;
  background-color: #333;
  padding: 10px;
  border: 2px solid #000;

}

.registry input[type="text"] {
  padding: 10px;
  border: 2px solid #000;
}